---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category == "pp" -%}
      <div class="feed-card">
        <div class="card-image">
          {%- if post.ftimage -%}
            <img src="{{ post.ftimage | relative_url }}" class="blog-roll-image">
          {%- else -%}
            <img src="{{- "/assets/images/logo.png" | relative_url -}}" class="blog-roll-image">
          {%- endif -%}
        </div>
        <div class="card-content">
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
        </div>
      


      </div>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    
  {%- endif -%}

</div>
